body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#35C8CB, #7B2DD6);
    height: 100vh;
    width: 100vw;
}

.controls {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#4322FF, #002fff);
    padding: 20px;
    border-radius: 20px;
}

.main {
    background-color: #0070A5;
    width: 95vw;
    height: 70vh;
    position: relative;
    margin: 10px;
    border-radius: 15px;
}

#box {
    width: 50px;
    height: 50px;
    background-color: #5AB5D9;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}

/* start stop*/

#start, #stop {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #007bff;
    position: relative;
    margin: 10px 5px;
    display: inline-block;
}

#start:before, #stop:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start:before {
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent darkgreen;
    margin-left: 1px;
}

#stop:before {
    width: 10px;
    height: 10px;
    background: darkred;
}

/* range */
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 300px;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #B8ADFE;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #206CEB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9c8dff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background:  #9c8dff;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background:#206CEB;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}